<h2 id="title">Candidate Selection</h2><br>
<div class="container-fluid" id="box">
  <div class="table-responsive">
    <table class="table table-hover" id="nomineeTable">
      <thead>
        <tr>
          <th>#</th>
          <th>Approved</th>
          <th>Nominee Name</th>
          <th>CV</th>
          <th>Statement</th>
        </tr>
      </thead>
      <% @count = 0 %>
      <% @nominees.each do |nominee| %>
      <tr>
      <%= form_for(nominee, id: 'checkbox_form', remote: true, :html => {:multipart => true, :class => 'form-inline'}) do |f| %>
      <% @count = @count + 1 %>
        <td><%= @count %></td>
        <% if nominee.committee_check == true %>   
            <td><span class="glyphicon glyphicon-check" aria-hidden="true"></span></td>
        <% else %>
          <td><%= f.check_box :committee_check, as: :boolean, boolean_style: :inline, label: false, onchange: "$(this.form).submit();", :class => "taskCheckbox" %></td>
        <% end %>
        <td><%= nominee.name %></td>
        <td><%= nominee.statement %></td>
        <td><%= nominee.cv %></td>
      <% end %>
      </tr>
      
      <% end %>
    </table>
  </div>
</div>
