

<div class="alert alert-success" role="alert">
  <ul>
      <li><%= notice %></li>
  </ul>
</div>

<div class="container">

  <p>
    <strong>Mail:</strong>
    <%= @nominee.mail %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @nominee.name %>
  </p>

  <p>
    <strong>Cv:</strong>
    <%= @nominee.cv %>
  </p>

  <p>
    <strong>Statement:</strong>
    <%= @nominee.statement %>
  </p>


  <%= link_to 'Edit', edit_nominee_path(@nominee) %> |
  <%= link_to 'Back', nominees_path %>

</div>

